body {
    font-family: "Playfair Display", serif;
    line-height: 1.7;
}

/*------------------------------------------------*/

/*HEADER*/
header {
    background-color: #720505;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
}

/*------------------------------------------------*/

/*NAVBAR*/
.nav-link {
    color:#fff;
}

.navbar button {
    background-color: #ffa200;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color:#000;
}

a {
    color:#000;
    text-decoration: none;
    transition: all 0.5s;
    font-weight: 600;
}

.navbar img {
    width: 100px;
    height: auto;  
}

/*------------------------------------------------*/

/*SECTION*/
section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*------------------------------------------------*/

/*BUTTON*/
.btn {
    border: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #ffa200;
    background-color: #ffa200;
}

.btn-brand:hover {
    border-color: #e77002;
    background-color: #e77002;
    color:#fff;
}

.btn-close {
    background-color: #ffa200;
}

/*------------------------------------------------*/

/*CAROUSEL*/
.carousel-item {
    text-align: center;
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    justify-content: center;
}

h6 {
    color: #fff;
    padding-bottom: 30px;
}

h1 {
    color:#fff;
    display: 1;
    font-weight: bold;
    padding-bottom: 30px;
}


/*SLIDE - 1*/
.slide-1 {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/p1.png);
    background-position: center;
    background-size: cover;
    position: relative;  
}

/*SLIDE - 2*/
.slide-2 {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/home2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;  
}

/*------------------------------------------------*/

/*SECTION - ABOUT US*/
.aboutus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}

.aboutus h1 {
    font-size: 36px;
    font-weight: 600;
    color:#000;
    padding-bottom: 10px;
}

.aboutus p {
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 15px;
}

.aboutus img {
    width: 100%;
    margin-bottom: 20px;
}

/*SECTION - ABOUT US - CARDS*/
.card {
    flex-basis: 31%;
    background: #720505;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.card h3 {
    color: #fff;
}

.card:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.479);
}

/*------------------------------------------------*/

/*SECTION - OFFERS*/
.us {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.us p {
    padding-bottom: 20px;
}

.us h1 {
    color:#000;
    padding: 30px;
}

/*SECTION - OFFERS - CARDS*/
.cards {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.cards img {
    width: 100%;
    display: block;
    border-radius: 11%;
}

/*SECTION - OFFERS - LAYER ON THE CARDS*/
.layer {
    background: transparent;
    bottom: 0;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    transition: 0.5s;
    border-radius: 11%;
}

.layer:hover {
    background: #720505a8;

}

.layer h3 {
    width: 100%;
    font-weight: 100;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/*------------------------------------------------*/

/*SECTION - REVIEWS*/
.reviews {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/reviews1.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative; 
    margin-bottom: 100px;    
}

.row {
    justify-content: center;
}

.reviews h1 {
    color:#fff;
    text-align: center;   
}

.reviews p {
    color:#fff;
    text-align: center;   
}

/*SECTION - REVIEWS - CAROUSEL*/
.carousel-inner {
    position: relative; 
}

.review {
    background: #fff;
    text-align: center;
    padding: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.review p {
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.review img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/*SECTION - REVIEWS - QUOTE ICON*/
.fa-quote-left {
    color: rgb(255, 234, 0);
    line-height: 1;
}


/*SECTION - REVIEWS - PEROSON PHOTO*/
.person {
    margin-top: 4px;
}

.person h4 {
    margin-bottom: 8px;
    margin-top: 20px;
}


/*SECTION - REVIEWS - STARS ICONS*/
.stars {
    color: rgb(255, 234, 0);
}

.row-item {
    justify-content: center;
}

/*------------------------------------------------*/

/*OUR CHEFS*/
.chefs {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.chefs p {
    padding-bottom: 20px;
}

.chefs h1 {
    color:#000;
    padding: 30px;
}

/*SECTION - CHEFS - CARDS*/
.cards {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.cards img {
    width: 100%;
    display: block;
    border-radius: 11%;
}

/*SECTION - CHEFS - LAYER ON THE CARDS*/
.layer-chefs {
    background: transparent;
    bottom: 0;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    transition: 0.5s;
    border-radius: 11%;
}

.layer-chefs:hover {
    background: #e771029d;

}

.layer-chefs h3 {
    width: 100%;
    font-weight: 100;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    
}

.layer-chefs:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/*------------------------------------------------*/

/*FOOTER*/
footer {
    background-color: #720505;
    padding-top: 120px;
    padding-bottom: 30px;   
}

.text-color h6 {
    color: #fff;
    margin-bottom: 4px; 
}

.text-color p {
    margin-bottom: 1px;   
}

footer p {
    color: rgba(225, 225, 225, 0.75);
}

.footer-top {
    margin-bottom: 30px;
}

/*FOOTER - LOGO*/
footer img {
    margin-bottom: 4px;
    max-width: 175px;
    width: 100px;
}

/*FOOTER - SOCIAL MEDIA ICONS*/
.social-links a {
    color: #ffa200;
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;  
}

.social-links a:hover {
    color: #e77002;
}

.footer-bottom {
    padding-top: 30px;
}

.footer-bottom .row {
    justify-content: center;
}

.footer-bottom p {
    margin-bottom: 0;
    padding-top: 30px;
    border-top: 1px solid rgba(225, 225, 225, 0.4);
}
