*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

/*------------------------------------------------*/

/*HEADER*/
.header{
    height: 500px;
}

.imgg{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(images/header.jpg);
    background-size: cover;
    background-position: center;
}

.heading{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 250px;
}

h1{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

/*------------------------------------------------*/

/*SECTION MENU*/
.section{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: "Playfair Display";
}

.row{
    display: flex;
    padding: 0 100px 0 100px;
}

.col{
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.col h2{
    background-color: #720505;
    color: #fff;
    text-align: center;
    padding: 5px;

}

.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #720505;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}
  
/*MEDIA - RESPONSIVE*/
@media(max-width: 700px){
    .heading h1{
        font-size: 20px;
    }

    

    .row{
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }

}


/*------------------------------------------------*/

/*FOOTER*/
footer {
    background-color: #720505;
    padding-top: 120px;
    padding-bottom: 30px;   
}

.row{
    justify-content: center;
}

.text-color h6 {
    color: #fff;
    margin-bottom: 4px; 
}

.text-color p {
    margin-bottom: 1px;   
}

footer p {
    color: rgba(225, 225, 225, 0.75);
}

.footer-top {
    margin-bottom: 30px;
}

/*FOOTER - LOGO*/
footer img {
    margin-bottom: 4px;
    max-width: 175px;
    width: 100px;
}

/*FOOTER - SOCIAL MEDIA ICONS*/
.social-links a {
    color: #ffa200;
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;  
}

.social-links a:hover {
    color: #e77002;
}

.footer-bottom {
    padding-top: 30px;
}

.footer-bottom .row {
    justify-content: center;
}

.footer-bottom p {
    margin-bottom: 0;
    padding-top: 30px;
    border-top: 1px solid rgba(225, 225, 225, 0.4);
}





